@import '@/assets/css/fonts.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply font-body;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  /* color: #111633; */
  font-family: 'Titillium Web';
}
h1 {
  font-size: 95px;
  font-weight: 400;
}

h2 {
  font-size: 59px;
  font-weight: 400;
}

h3 {
  font-size: 36px;
  font-weight: 400;
}

h4 {
  font-size: 22px;
  font-weight: 600;
}
.font-body,
.font-body-semi,
a,
NuxtLink {
  font-family: 'Inter';
}
.font-body {
  font-size: 14px;
  font-weight: 400;
}
.font-body-semi {
  font-size: 16px;
  font-weight: 600;
}

a,
NuxtLink {
  font-size: 14px;
  color: #6861e4;
  font-weight: 600;
}
/* checkbox */
input[type='checkbox'] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: #05c583;
  /* Not removed via appearance */

  font: inherit;
  color: #fff;
  width: 1.15em;
  height: 1.15em;
  border: none;
  border-radius: 0.15em;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
  margin-right: 12px;
}
label {
  display: flex;
  align-items: center;
}

input[type='checkbox']::before {
  content: '';
  width: 0.75em;
  height: 0.75em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);

  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  background-color: #fff;
}

input[type='checkbox']:checked::before {
  transform: scale(1);
}

.bg-mask {
  background: url('@/assets/images/home/bg-mask.png') no-repeat;
  width: 1920px;
  height: 867px;  background: transparent linear-gradient(180deg, #048ef8b8 0%, #05c583 100%) 0%
    0% no-repeat padding-box;
  mix-blend-mode: hue;
  opacity: 1;
}
