@import '@/assets/css/fonts.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 16px;
}
/* md */
@media (max-width: 768px) {
  html {
    font-size: 12px;
  }
}
/* sm */
@media (max-width: 640px) {
  html {
    font-size: 10.3px;
  }
}
html,
body,
#__nuxt {
  height: 100%;
}
.lottie {
  max-width: 162px;
  min-height: 188px;
  opacity: 90%;
  transform: perspective(95px) rotateX(0deg) rotateY(-5deg) rotateZ(3deg)
    skewY(2deg);
}
.code-box {
  position: relative;
}
@media (max-width: 640px) {
  .lottie {
    max-width: 112px;
    max-height: 126px;
  }
}
.transparent-bg {
  background-color: white;
  opacity: 10%;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
}
.suite-card {
  background-color: white;
  opacity: 4%;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
}

/* checkbox */
input[type='checkbox'] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: #05c583;
  /* Not removed via appearance */

  font: inherit;
  color: #fff;
  width: 1.15em;
  height: 1.15em;
  border: none;
  border-radius: 0.15em;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
  margin-right: 12px;
}
label {
  display: flex;
  align-items: center;
}

input[type='checkbox']::before {
  content: '';
  width: 0.75em;
  height: 0.75em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);

  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  background-color: #fff;
}

input[type='checkbox']:checked::before {
  transform: scale(1);
}

.bg-mask {
  background: url('@/assets/images/home/bg-mask.png') no-repeat;
  /* width: 1920px;
  height: 867px; */
  background: transparent linear-gradient(180deg, #048ef8b8 0%, #05c583 100%) 0%
    0% no-repeat padding-box;
  mix-blend-mode: hue;
  opacity: 1;
}
